.employees-grid
{
width:auto;
height:45vh;
margin:5px;
border:1px solid black;
overflow:scroll;
padding:5px;
}

.employee-table-header 
{
text-align:right;
padding:4px;
}

.employee-table-sno-column 
{
width:60px
}

.employee-table-id-column 
{
width:200px
}

.employee-table-name-column 
{
width:200px
}

.employee-table-designation-column 
{
width:200px
}

.employee-table-editOption-column 
{
width:100px
}

.employee-table-deleteOption-column 
{
width:100px
}

.employee-detail-section 
{
width:auto;
height:20vh;
margin:5px;
border:1px solid black;
padding:5px;
}

.employee-detail-section-label 
{
background-color:gray;
color:white;
padding: 0 5px;
}

.employee-detail-table 
{
width: 100%;
}




















